/* line 5, /Users/cwood/Projects/ThoughtPoll/app/assets/stylesheets/poll_questions.css.scss */
.sample-show-hide {
  padding: 10px;
  background: white;
}

/* line 10, /Users/cwood/Projects/ThoughtPoll/app/assets/stylesheets/poll_questions.css.scss */
.sample-show-hide {
  -webkit-transition: all linear 2.5s;
  transition: all linear 2.5s;
}

/* line 15, /Users/cwood/Projects/ThoughtPoll/app/assets/stylesheets/poll_questions.css.scss */
.sample-show-hide.ng-hide {
  opacity: 0;
}
