<div id="questionModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="TPQuestionController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">WTF DO YOU THINK?</h1>
      </div>
      <div class="modal-body">
        <h3>{{question}}</h3>

        <button ng-click="getQOTD()">GET QOTD</button>

        <form class="form-horizontal">
         <fieldset>
          <div class="form-group">
           <div class="col-xs-9">
            
            <div class="radio">
             <label>
              <input id="inlineradio1" name="sampleinlineradio" value="option1" type="radio">
              Radio 0</label>
            </div>
            
           </div>
          </div>
         </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
