// Place all the styles related to the PollQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sample-show-hide {
  padding:10px;
  background:white;
}

.sample-show-hide {
  -webkit-transition:all linear 2.5s;
  transition:all linear 2.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}

.data-viz-block {
	background-color:white; 
	text-align:center;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:20px;
}

.centered {
	text-align:center;
}