<html>
    <head>
        <title>@Messages("thoughtpoll.index.title")</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        
        <header>
            <a href="@routes.TPController.index" id="logo"><span>Thought</span>Poll</a>
        </header>

        <div id="create_poll_container">

            <!-- TODO: use ajax and hide this container to replace it with the follow-up screen -->

            <form id="pollSubmissionForm" accept-charset="utf-8"> <!-- consider changing url to /poll/create -->
              <input type="text" name="content" />
              <br/>
              <select id="categorySelect" name="category" size="1"> <!-- enforce selecting one category -->
                <option value="0">General</option>
                <option value="1">Technology</option>
                <option value="2">Politics</option>
              </select>
              <br/>
              <input type="text" name="choice[]" value="1"/>
              <br/>
              <input type="text" name="choice[]" value="2"/>
              <br/>
              <input type="text" name="choice[]" value="3"/>
              <br/>
              <input type="text" name="choice[]" value="4"/>
              <br/>
              <input type="submit" value="Create Poll"/>
            </form>

            <!-- TODO: Create the code in poll.js to dynamically add/remove items from this form -->

        </div>

        Here's a fancy button just hanging around. Cool.
        <p><a class="btn" href="#">@Messages("thoughtpoll.index.title") &raquo;</a></p>
        
        
        
        <!--
        <p class="note">
            Try <em>root</em> with <em>toor</em> as password.
        </p>
      -->
            
    </body>
</html>
    